[tool.pytest.ini_options]
testpaths = ["tests"]
pythonpath = ["."]  # This adds the current directory to Python path
addopts = "-vv --cov=src --cov-report=term-missing"

[tool.coverage.run]
source = ["src", "app"]

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "def __repr__",
    "if self.debug:",
    "if settings.DEBUG",
    "raise AssertionError",
    "raise NotImplementedError",
    "if 0:",
    "if __name__ == .__main__.:",
    "class Test",
    "def test_",
]